<div class="background">
    <div class="login-box">
        <input type="email" placeholder="Email" [(ngModel)]="loginData.email" class="input" />
        <input type="password" placeholder="Senha" [(ngModel)]="loginData.password" class="input" />
        <button class="btn" (click)="login()">Entrar</button>
        <a href="#" (click)="openModal()">Criar usuário</a>
    </div>
    <div class="modal" *ngIf="showModal">
        <div class="modal-content">
          <button class="close-btn" (click)="closeModal()">x</button>
          <h3>Criar Usuário</h3>
          <input type="email" placeholder="Email" [(ngModel)]="newUser.email" class="input" />
          <input type="password" placeholder="Senha" [(ngModel)]="newUser.password" class="input" />
          <input type="password" placeholder="Confirmar Senha" [(ngModel)]="newUser.confirmPassword" class="input" />
          <div *ngIf="passwordMismatch" class="error">Senhas não coincidem</div>
          <button class="btn" (click)="createUser()">Criar Usuário</button>
        </div>
    </div>
</div>